    <h6>What I Learned</h6>
    <p>
        I created both the game and the <em class="text-highlight1">controller</em> from the ground up. This project gave me hands-on experience in a wide range of areas, 
        including <em class="text-highlight2">mechanical design</em> for the controller, <em class="text-highlight1">electronics</em>, <em class="text-highlight2">game design</em>,
        <em class="text-highlight1">level design</em>, <em class="text-highlight2">2D/3D graphics</em>, and <em class="text-highlight1">artificial intelligence</em>. 
        I gained a deeper understanding of how to integrate physical hardware with interactive gameplay, 
        and how each component contributes to the overall player experience.
    </p>
