    <h2 class="project-section-title">What I Learned</h2>
    <p>
        I created both the game and the controller from the ground up. This project gave me hands-on experience in a wide range of areas,
        including mechanical design for the controller, electronics, <span class="text-highlight1">game design</span>,
        <span class="text-highlight2">level design</span>, 2D/3D graphics, and artificial intelligence.
        I gained a deeper understanding of how to <span class="text-highlight1">integrate physical hardware</span> with interactive gameplay,
        and how each component contributes to the overall <span class="text-highlight2">player experience</span>.
    </p>
