    <h6>What I Loved</h6>
    <p>
        This project offered the freedom to experiment and create something <em class="text-highlight1">unique</em>. Designing the <em class="text-highlight2">controller</em> and seeing it come to life was a <em class="text-highlight1">thrilling experience</em>.
        I especially enjoyed the challenge of combining <em class="text-highlight2">hardware</em> and <em class="text-highlight1">software</em> to create a truly <em class="text-highlight2">immersive racing experience</em>, 
        and the satisfaction of watching players interact with the game through the <em class="text-highlight1">custom setup</em>.
    </p>
