<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Learned</h6>
    <p>
        I created both the game and the <em class="text-highlight1">controller</em> from the ground up. This project gave me hands-on experience in a wide range of areas, 
        including <em class="text-highlight2">mechanical design</em> for the controller, <em class="text-highlight1">electronics</em>, <em class="text-highlight2">game design</em>,
        <em class="text-highlight1">level design</em>, <em class="text-highlight2">2D/3D graphics</em>, and <em class="text-highlight1">artificial intelligence</em>. 
        I gained a deeper understanding of how to integrate physical hardware with interactive gameplay, 
        and how each component contributes to the overall player experience.
    </p>
    

</body>