<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>Tools used</h6>
    <p>
        I used <em class="text-highlight1">Arduino</em> to build the controller and <em class="text-highlight2">Unity</em> to develop the game. 
        For 3D modeling, I relied on <em class="text-highlight1">3ds Max</em>, while <em class="text-highlight2">Illustrator</em> helped create 2D assets. 
        Sound design was done using <em class="text-highlight1">Audacity</em>, and I used <em class="text-highlight2">Microsoft Office</em> for documentation and organizing project details.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/logo-diy.png">
        <img src="/assets/logo/logo-saw.png">
        <img src="/assets/logo/logo-arduino.png">
        <img src="/assets/logo/logo-unity.png">
        <img src="/assets/logo/logo-3dsmax.png">
        <img src="/assets/logo/logo-illustrator.png">
        <img src="/assets/logo/logo-audacity.png">
        <img src="/assets/logo/logo-microsoftsuite.png">

    </div>

</body>