<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Space Age Racer</em> is a racing game inspired by the iconic <em class="text-highlight2">Pod Racers</em> from Star Wars, 
        designed with a <em class="text-highlight1">custom controller</em>.
         The project aims to create an immersive experience by allowing players to control a racing vessel in a hands-on way. 
        The focus is on experimenting with <em class="text-highlight2">interactive controllers</em> and exploring the possibilities of physical gaming setups.
    </p>
