    <h2 class="project-section-title">Tools Used</h2>
    <p class="spaceage-tools-text">
        I used Unity to <span class="text-highlight1">develop the game</span> and Arduino for the <span class="text-highlight2">custom controller</span>.
        Building the controller involved woodworking, mechanical assembly, and some electronics.
        I used 3ds Max and Blender for 3D modeling, Illustrator for 2D assets, and Audacity for sound design.
        Microsoft Office helped with <span class="text-highlight1">documentation</span> and <span class="text-highlight2">project organization</span>.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-diy.svg" alt="DIY">
        <img src="/assets/logo/icons/logo-saw.svg" alt="Woodworking">
        <img src="/assets/logo/icons/logo-arduino.svg" alt="Arduino">
        <img src="/assets/logo/icons/logo-unity.svg" alt="Unity">
        <img src="/assets/logo/icons/logo-3dsmax.svg" alt="3ds Max">
         <img src="/assets/logo/icons/logo-blender.svg" alt="Blender">
        <img src="/assets/logo/icons/logo-illustrator.svg" alt="Illustrator">
        <img src="/assets/logo/icons/logo-audacity.svg" alt="Audacity">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">

    </div>
