    <h6>What I Loved</h6>
    <p>
        I enjoyed the freedom to <em class="text-highlight1">experiment</em> with both the game and its <em class="text-highlight2">custom controller</em>.
        Building the controller and figuring out how it would work with the game was rewarding.
        I also enjoyed the <em class="text-highlight1">woodworking and mechanical work</em>, from assembling the controller to adjusting its moving parts.
        Seeing players use it and react to the experience was one of my favorite parts of the project.
    </p>
