<h2 class="project-section-title">About the Game</h2>
    <p>
        Space Age Racer is a <span class="text-highlight1">racing game</span> inspired by the iconic Pod Racers from Star Wars,
        designed to be played with a <span class="text-highlight2">custom controller</span> built using Arduino.
        The game and its controller bring together <span class="text-highlight1">game development</span>, electronics, and controller design.
        The project explores how <span class="text-highlight2">physical controls</span> can make piloting a racing vessel feel more immersive and engaging.
    </p>
