    <h6>Tools Used</h6>
    <p class="spaceage-tools-text">
        I used <em class="text-highlight2">Unity</em> to develop the game and <em class="text-highlight1">Arduino</em> for the custom controller.
        Building the controller involved <em class="text-highlight1">woodworking</em>, <em class="text-highlight2">mechanical assembly</em>, and some <em class="text-highlight1">electronics</em>.
        I used <em class="text-highlight1">3ds Max</em> and <em class="text-highlight1">Blender</em> for 3D modeling, <em class="text-highlight2">Illustrator</em> for 2D assets, and <em class="text-highlight1">Audacity</em> for sound design.
        <em class="text-highlight2">Microsoft Office</em> helped with documentation and project organization.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-diy.svg">
        <img src="/assets/logo/icons/logo-saw.svg">
        <img src="/assets/logo/icons/logo-arduino.svg">
        <img src="/assets/logo/icons/logo-unity.svg">
        <img src="/assets/logo/icons/logo-3dsmax.svg">
         <img src="/assets/logo/icons/logo-blender.svg">
        <img src="/assets/logo/icons/logo-illustrator.svg">
        <img src="/assets/logo/icons/logo-audacity.svg">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg">

    </div>
