<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Space Age Racer</em> is a racing game inspired by the iconic <em class="text-highlight2">Pod Racers</em> from Star Wars,
        designed to be played with a <em class="text-highlight1">custom controller</em> built using <em class="text-highlight2">Arduino</em>.
        The game and its controller bring together <em class="text-highlight1">game development</em>, <em class="text-highlight2">electronics</em>, and <em class="text-highlight1">controller design</em>.
        The project explores how physical controls can make piloting a racing vessel feel more immersive and engaging.
    </p>
