<h2 class="project-section-title">About the Game</h2>
    <p>
        Source is a <span class="text-highlight1">2D exploration game</span> where players take on the role of the only light in a <span class="text-highlight2">dark maze</span>.
        The objective is to escape the labyrinth while using the <span class="text-highlight1">light source</span> emitted by the avatar not only for navigation but also as a shield against <span class="text-highlight2">shadowy creatures</span> that haunt the maze.
        The game challenges players to balance their use of light to illuminate paths and protect themselves from lurking dangers.

    </p>
