    <h6>What I Loved</h6>
    <p>
        The part I enjoyed the most was crafting the game's <em class="text-highlight1">atmosphere</em>. Every detail, from the <em class="text-highlight2">lighting</em> to the subtle <em class="text-highlight2">sound effects</em>,
         helped create an environment that felt both <em class="text-highlight1">immersive</em> and <em class="text-highlight1">tense</em>. 
        It was exciting to see how these elements contributed to the overall <em class="text-highlight1">experience</em>.

    </p>
