    <h2 class="project-section-title">What I Learned</h2>
    <p>
        Working on Source allowed me to experiment with <span class="text-highlight1">light and darkness mechanics</span>,
         both in <span class="text-highlight2">gameplay</span> and <span class="text-highlight1">atmosphere</span>. I also contributed to the sound design, enhancing the tense environment.
         Balancing these elements to challenge and reward players was a key lesson in <span class="text-highlight2">gameplay design</span>.
    </p>
