    <h2 class="project-section-title">What I Loved</h2>
    <p>
        The part I enjoyed the most was crafting the game's <span class="text-highlight1">atmosphere</span>. Every detail, from the lighting to the subtle sound effects,
         helped create an environment that felt both <span class="text-highlight2">immersive</span> and <span class="text-highlight1">tense</span>.
        It was exciting to see how these elements contributed to the <span class="text-highlight2">overall experience</span>.

    </p>
