    <h6>Tools Used</h6>
    <p>
        To develop this project, we used a combination of tools. 
        The core gameplay was created in <em class="text-highlight1">Unity</em>, 
        and 2D visuals were made with <em class="text-highlight1">Illustrator</em> and <em class="text-highlight2">Photoshop</em>. For sound design, 
        we turned to <em class="text-highlight1">Adobe Audition</em>, while <em class="text-highlight2">InDesign</em> and <em class="text-highlight2">Microsoft Office</em> helped us manage documentation.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/logo-unity.svg">
        <img src="/assets/logo/logo-illustrator.svg">
        <img src="/assets/logo/logo-photoshop.svg">
        <img src="/assets/logo/logo-audition.svg">
        <img src="/assets/logo/logo-indesign.svg">
        <img src="/assets/logo/logo-microsoftsuite.svg">
    </div>
