<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Learned</h6>
    <p>
        Working on <em class="text-highlight1">Source</em> allowed me to experiment with <em class="text-highlight2">light</em> and <em class="text-highlight2">darkness</em> mechanics,
         both in gameplay and atmosphere. I also contributed to the sound design, enhancing the tense environment. 
         Balancing these elements to challenge and reward players was a key lesson in <em class="text-highlight2">gameplay design</em>.  
    </p>
    

</body>