<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Source</em> is a 2D exploration game where players take on the role of the only <em class="text-highlight1">light</em> in a dark maze. 
        The objective is to escape the labyrinth while using the <em class="text-highlight2">light source</em> emitted by the avatar not only for navigation but also as a shield against <em class="text-highlight1">shadowy creatures</em> that haunt the maze. 
        The game challenges players to balance their use of <em class="text-highlight2">light</em> to illuminate paths and protect themselves from lurking dangers.
        
    </p>

</body>