<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">AjusT</em> is a first-person 3D puzzle-platformer where players can <em class="text-highlight2">resize themselves</em> and the <em class="text-highlight2">world around them</em>. 
        The game encourages players to rethink <em class="text-highlight1">scale and perspective</em> in order to solve spatial puzzles. 
        Progress depends on creatively shifting your perception to manipulate the environment and uncover new paths.
    </p>

</body>