<h2 class="project-section-title">About the Game</h2>
    <p>
        AjusT is a first-person 3D <span class="text-highlight1">puzzle-platformer</span> where players can <span class="text-highlight2">resize themselves</span> and the world around them.
        The game encourages players to rethink <span class="text-highlight1">scale and perspective</span> in order to solve <span class="text-highlight2">spatial puzzles</span>.
        Progress depends on creatively shifting your perception to manipulate the environment and uncover new paths.
    </p>
