<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">AjusT</em> is a first-person 3D puzzle-platformer where players can <em class="text-highlight2">resize themselves</em> and the <em class="text-highlight2">world around them</em>. 
        The game encourages players to rethink <em class="text-highlight1">scale and perspective</em> in order to solve spatial puzzles. 
        Progress depends on creatively shifting your perception to manipulate the environment and uncover new paths.
    </p>
