<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>Tools used</h6>
    <p>
        To develop <em class="text-highlight1">AjusT</em>, 
        I worked with multiple production tools: <em class="text-highlight1">Unity</em> for gameplay development. 
        <em class="text-highlight2">3ds Max</em> for 3D modeling and asset creation. <em class="text-highlight1">Illustrator</em> and <em class="text-highlight1">Photoshop</em> for visual design.
         <em class="text-highlight2">Audacity</em> for sound design. 
         <em class="text-highlight1">InDesign</em> and <em class="text-highlight2">Microsoft Office</em> for documentation.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/logo-unity.png">
        <img src="/assets/logo/logo-3dsmax.png">
        <img src="/assets/logo/logo-illustrator.png">
        <img src="/assets/logo/logo-photoshop.png">
        <img src="/assets/logo/logo-audacity.png">
        <img src="/assets/logo/logo-indesign.png">
        <img src="/assets/logo/logo-microsoftsuite.png">
    </div>

    

</body>