    <h6>What I Learned</h6>
    <p>
        <em class="text-highlight1">AjusT</em> was a <em class="text-highlight2">solo project</em> where I focused on <em class="text-highlight1">fast prototyping</em> and <em class="text-highlight2">playful experimentation</em>. 
        It taught me how to build a game around a <em class="text-highlight1">strong core mechanic</em>, 
        and <em class="text-highlight2">iterate quickly</em> to keep ideas <em class="text-highlight1">fresh</em> and <em class="text-highlight1">engaging</em>.
    </p>
