    <h2 class="project-section-title">What I Loved</h2>
    <p>
        AjusT gave me the chance to experiment with <span class="text-highlight1">unconventional ideas</span>.
         The mechanics allowed me to create a <span class="text-highlight2">dynamic environment</span> where <span class="text-highlight1">creativity</span> was key.
         The process of transforming both the world and the player’s perception was a thrilling way to solve <span class="text-highlight2">design challenges</span> and keep the gameplay fun.
    </p>
