    <h2 class="project-section-title">Tools Used</h2>
    <p>
        To develop AjusT,
        I worked with multiple <span class="text-highlight1">production tools</span>: <span class="text-highlight1">Unity</span> for <span class="text-highlight2">gameplay development</span>,
        3ds Max for 3D modeling and asset creation, Illustrator and Photoshop for visual design,
         Audacity for sound design,
         InDesign and Microsoft Office for <span class="text-highlight2">documentation</span>.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-unity.svg" alt="Unity">
        <img src="/assets/logo/icons/logo-3dsmax.svg" alt="3ds Max">
        <img src="/assets/logo/icons/logo-illustrator.svg" alt="Illustrator">
        <img src="/assets/logo/icons/logo-photoshop.svg" alt="Photoshop">
        <img src="/assets/logo/icons/logo-audacity.svg" alt="Audacity">
        <img src="/assets/logo/icons/logo-indesign.svg" alt="InDesign">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">
    </div>
