    <h6>What I Loved</h6>
    <p>
        <em class="text-highlight1">AjusT</em> gave me the chance to experiment with <em class="text-highlight2">unconventional ideas</em>.
         The <em class="text-highlight1">mechanics</em> allowed me to create a <em class="text-highlight2">dynamic environment</em> where <em class="text-highlight1">creativity</em> was key. 
         The process of transforming both the <em class="text-highlight2">world</em> and the player’s perception was a thrilling way to solve design challenges and keep the <em class="text-highlight1">gameplay</em> fun.
    </p>
