    <h6>Tools Used</h6>
    <p>
        We began the project with <em class="text-highlight1">paper prototyping</em> and <em class="text-highlight2">wood carving</em> for the physical version. Later, we transitioned to a digital format, developing the game in <em class="text-highlight1">Java</em>. 
        For the visual aspects, we used <em class="text-highlight2">Illustrator</em> and <em class="text-highlight1">Photoshop</em>, 
        while documentation was handled using <em class="text-highlight2">InDesign</em> and <em class="text-highlight1">Microsoft Office</em>.
    </p>
    <div class="logo-tools">
        <img src="/assets/logo/logo-diy.svg">
        <img src="/assets/logo/logo-saw.svg">
        <img src="/assets/logo/logo-java.svg">
        <img src="/assets/logo/logo-illustrator.svg">
        <img src="/assets/logo/logo-photoshop.svg">
        <img src="/assets/logo/logo-indesign.svg">
        <img src="/assets/logo/logo-microsoftsuite.svg">

    </div>
