<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
        The best part of this project was the creative challenge of inventing the <em class="text-highlight1">game rules</em> 
        and designing an engaging <em class="text-highlight2">gameplay experience</em> from scratch. The process of transitioning from a tangible,
        handcrafted version to a <em class="text-highlight1">digital</em> one was rewarding, and seeing the game evolve through each iteration was both exciting and fulfilling.
    </p>

</body>