    <h2 class="project-section-title">What I Learned</h2>
    <p>
        Vahana was my very <span class="text-highlight1">first game project</span>,
        where I had the opportunity to invent <span class="text-highlight2">game rules</span> and explore the complexities of
         <span class="text-highlight1">strategic gameplay</span>. It taught me how to think critically about
        game mechanics and the importance of <span class="text-highlight2">playtesting</span> to ensure a balanced and enjoyable experience.

    </p>
