<h2 class="project-section-title">About the Game</h2>
    <p>
        Vahana is a <span class="text-highlight1">strategic board game</span> for four players,
        where each aims to move their pieces to their totem’s area. Players must navigate a chaotic board while <span class="text-highlight2">blocking opponents</span>. The tribal and
         animal-inspired design adds charm,
         with each piece representing different animal heads. Initially a <span class="text-highlight1">physical game</span>, it was later <span class="text-highlight2">digitized</span>.
    </p>
