    <h2 class="project-section-title">What I Loved</h2>
    <p>
        The best part of this project was the creative challenge of <span class="text-highlight1">inventing the game rules</span>
        and designing an engaging <span class="text-highlight2">gameplay experience</span> from scratch. The process of transitioning from a tangible,
        handcrafted version to a <span class="text-highlight1">digital</span> one was rewarding, and seeing the game evolve through <span class="text-highlight2">each iteration</span> was both exciting and fulfilling.
    </p>
