    <h2 class="project-section-title">Tools Used</h2>
    <p>
        We began the project with <span class="text-highlight1">paper prototyping</span> and wood carving for the <span class="text-highlight2">physical version</span>. Later, we transitioned to a <span class="text-highlight1">digital format</span>, developing the game in Java.
        For the visual aspects, we used Illustrator and Photoshop,
        while <span class="text-highlight2">documentation</span> was handled using InDesign and Microsoft Office.
    </p>
    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-diy.svg" alt="DIY">
        <img src="/assets/logo/icons/logo-saw.svg" alt="Woodworking">
        <img src="/assets/logo/icons/logo-java.svg" alt="Java">
        <img src="/assets/logo/icons/logo-illustrator.svg" alt="Illustrator">
        <img src="/assets/logo/icons/logo-photoshop.svg" alt="Photoshop">
        <img src="/assets/logo/icons/logo-indesign.svg" alt="InDesign">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">

    </div>
