<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Vahana</em> is a strategic board game for four players, 
        where each aims to move their pieces to their <em class="text-highlight2">totem’s area</em>. Players must navigate a chaotic board while blocking opponents. The <em class="text-highlight1">tribal</em> and
         <em class="text-highlight2">animal-inspired</em> design adds charm, 
         with each piece representing different animal heads. Initially a physical game, it was later digitized.
    </p>

</body>