    <h6>What I Learned</h6>
    <p>
        <em class="text-highlight1">Vahana</em> was my very first game project, 
        where I had the opportunity to invent <em class="text-highlight2">game rules</em> and explore the complexities of
         <em class="text-highlight1">strategic gameplay</em>. It taught me how to think critically about 
        <em class="text-highlight2">game mechanics</em> and the importance of <em class="text-highlight1">playtesting</em> to ensure a balanced and enjoyable experience.

    </p>
