    <h2 class="project-section-title">What I Learned</h2>
    <p>
        Working on ARUP was an exciting challenge. It was my <span class="text-highlight1">first game jam</span>, and every team had to build their project in just two days. This experience taught me how to <span class="text-highlight2">think quickly</span>, <span class="text-highlight1">manage time effectively</span>,
         and <span class="text-highlight2">work with a team</span> under time pressure. Despite the tight timeline, it was a lot of fun bringing the idea to life!
    </p>
