    <h2 class="project-section-title">What I Loved</h2>
    <p>
        The best part was the <span class="text-highlight1">game jam atmosphere</span>.
        It was exciting to <span class="text-highlight2">collaborate</span> under tight time constraints and rapidly come up with <span class="text-highlight1">creative solutions</span>.
        I particularly enjoyed experimenting with Arduino during development,
        even though the final version ended up using a <span class="text-highlight2">keyboard</span>.

    </p>
