<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>Tools used</h6>
    <p>
        For <em class="text-highlight1">ARUP</em>, we utilized several tools to build the game. 
        The main development took place in <em class="text-highlight2">Unity</em>, 3D models were created in <em class="text-highlight1">3ds Max</em>. 
        2D artwork was made with <em class="text-highlight2">Illustrator</em> and <em class="text-highlight1">Photoshop</em>, and we used <em class="text-highlight2">Audition</em> for all sound work. 
        Additionally, we explored using <em class="text-highlight1">Arduino</em> for potential hardware integration.

    </p>
    <div class="logo-tools">
        <img src="/assets/logo/logo-unity.png">
        <img src="/assets/logo/logo-3dsmax.png">
        <img src="/assets/logo/logo-illustrator.png">
        <img src="/assets/logo/logo-photoshop.png">
        <img src="/assets/logo/logo-audition.png" > 
        <img src="/assets/logo/logo-arduino.png">

    </div>
    

</body>