<h2 class="project-section-title">About the Game</h2>
    <p>
        ARUP is a <span class="text-highlight1">competitive party game</span>.
        Designed for up to four players, the game challenges you to jump to <span class="text-highlight2">dodge</span> an increasingly fast cube.
        The goal is to outlast your opponents. The unique control system has everyone <span class="text-highlight1">share one keyboard</span>,
        using different keys (A, R, U, P) to jump. <span class="text-highlight2">Power-ups</span> and opponents' proximity make it even more intense.
    </p>
