    <h6>What I Learned</h6>
    <p>
        Working on <em class="text-highlight1">ARUP</em> was an exciting challenge. It was my first <em class="text-highlight2">game jam</em>, and every team had to build their project in just <em class="text-highlight1">two days</em>. This experience taught me how to think quickly, manage <em class="text-highlight2">time</em> effectively,
         and work with a team under time pressure. Despite the tight timeline, it was a lot of <em class="text-highlight1">fun</em> bringing the idea to life!
    </p>
