<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Learned</h6>
    <p>
        Working on <em class="text-highlight1">ARUP</em> was an exciting challenge. It was my first <em class="text-highlight2">game jam</em>, and every team had to build their project in just <em class="text-highlight1">two days</em>. This experience taught me how to think quickly, manage <em class="text-highlight2">time</em> effectively,
         and work with a team under time pressure. Despite the tight timeline, it was a lot of <em class="text-highlight1">fun</em> bringing the idea to life!
    </p>
    

</body>