<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">ARUP</em> is a competitive party game. 
        Designed for up to four players, you must jump to dodge an increasingly fast <em class="text-highlight2">cube</em>. 
        The goal is to outlast your opponents. The unique <em class="text-highlight2">control system</em> has everyone share one keyboard, 
        using different keys (A, R, U, P) to jump. Power-ups and opponents' proximity make it even more <em class="text-highlight1">intense</em>.
    </p>

</body>