<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
        The best part was the <em class="text-highlight1">game jam atmosphere</em>. 
        It was exciting to collaborate under tight <em class="text-highlight2">time constraints</em> and rapidly come up with <em class="text-highlight1">creative solutions</em>. 
        I particularly enjoyed experimenting with <em class="text-highlight2">Arduino</em> during development, 
        even though the final version ended up using a <em class="text-highlight1">keyboard</em>.

    </p>

</body>