    <h6>What I Loved</h6>
    <p>
        The best part was the <em class="text-highlight1">game jam atmosphere</em>. 
        It was exciting to collaborate under tight <em class="text-highlight2">time constraints</em> and rapidly come up with <em class="text-highlight1">creative solutions</em>. 
        I particularly enjoyed experimenting with <em class="text-highlight2">Arduino</em> during development, 
        even though the final version ended up using a <em class="text-highlight1">keyboard</em>.

    </p>
