    <h2 class="project-section-title">Tools Used</h2>
    <p>
        I primarily worked with <span class="text-highlight1">Jira</span> for bug tracking and <span class="text-highlight2">test case management</span>.
        On the console side, I used <span class="text-highlight1">PlayStation SDK</span> and Xbox XDK to follow platform guidelines and debug issues.
        Microsoft Office Suite helped structure and monitor <span class="text-highlight2">test plans</span>, checklists, and coverage.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-jira.svg" alt="Jira">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">
        <img src="/assets/logo/icons/logo-excel.svg" alt="Excel">
        <img src="/assets/logo/icons/logo-steam.svg" alt="Steam">
        <img src="/assets/logo/icons/logo-ps.svg" alt="PlayStation">
        <img src="/assets/logo/icons/logo-xbox.svg" alt="Xbox">
    </div>
