<h2 class="project-section-title">About the Game</h2>
    <p>
        Aeon Must Die! is a dynamic <span class="text-highlight1">beat 'em-up</span> developed by Limestone Games and published by Focus Entertainment.
        The game features breakneck <span class="text-highlight2">risk-reward gameplay</span> and <span class="text-highlight1">tactical fighting</span>,
        all wrapped in a unique anime-inspired art style.
        Players embody Aeon, the betrayed Emperor of the Void Armada,
        navigating the futuristic city of Pantheon to exact revenge while battling for <span class="text-highlight2">control over their own body</span>.

    </p>
