    <h2 class="project-section-title">What I Learned</h2>
    <p>
        I gained experience with <span class="text-highlight1">PlayStation SDK</span> and Xbox XDK to ensure <span class="text-highlight2">platform certification</span>.
        I handled <span class="text-highlight1">bug reporting</span> through Jira, prioritizing and documenting issues.
        I also navigated <span class="text-highlight2">console requirements</span> to ensure compliance and optimize performance across all platforms.
            </p>
