    <h6>What I Loved</h6>
    <p>
        I loved working through the <em class="text-highlight2">editor side</em>, exploring how systems connected behind the scenes.  
        The <em class="text-highlight1">team</em> was supportive and passionate, making collaboration smooth and rewarding.  
        I was impressed by the game’s <em class="text-highlight1">art direction</em> and how well it complemented the gameplay.  
        Being part of such a <em class="text-highlight2">stylized and ambitious project</em> made the QA process genuinely exciting.
        
    </p>
