<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
        I loved working through the <em class="text-highlight2">editor side</em>, exploring how systems connected behind the scenes.  
        The <em class="text-highlight1">team</em> was supportive and passionate, making collaboration smooth and rewarding.  
        I was constantly impressed by the game’s <em class="text-highlight1">art direction</em> and how well it complemented the gameplay.  
        Being part of such a <em class="text-highlight2">stylized and ambitious project</em> made the QA process genuinely exciting.
        
    </p>

</body>