<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Aeon Must Die!</em> is a dynamic <em class="text-highlight2">beat 'em-up</em> developed by Limestone Games and published by Focus Entertainment. 
        The game features <em class="text-highlight2">breakneck risk-reward gameplay</em> and <em class="text-highlight2">tactical fighting</em>, 
        all wrapped in a unique <em class="text-highlight1">anime-inspired art style</em>. 
        Players embody <em class="text-highlight1">Aeon</em>, the betrayed Emperor of the <em class="text-highlight1">Void Armada</em>, 
        navigating the futuristic city of <em class="text-highlight1">Pantheon</em> to exact revenge while battling for control over their own body.
        
    </p>
