    <h2 class="project-section-title">What I Loved</h2>
    <p>
        I loved working through the <span class="text-highlight1">editor side</span>, exploring how <span class="text-highlight2">systems connected</span> behind the scenes.
        The team was supportive and passionate, making <span class="text-highlight1">collaboration</span> smooth and rewarding.
        I was impressed by the game’s art direction and how well it complemented the gameplay.
        Being part of such a stylized and ambitious project made the <span class="text-highlight2">QA process</span> genuinely exciting.

    </p>
