<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Aeon Must Die!</em> is a dynamic <em class="text-highlight2">beat 'em-up</em> developped by Limestone Games and published by Focus Entertainment. 
        The game features <em class="text-highlight2">breakneck risk-reward gameplay</em> and <em class="text-highlight2">tactical fighting</em>, 
        all wrapped in a unique <em class="text-highlight1">anime-inspired art style</em>. 
        Players embody <em class="text-highlight1">Aeon</em>, the betrayed Emperor of the <em class="text-highlight1">Void Armada</em>, 
        navigating the futuristic city of <em class="text-highlight1">Pantheon</em> to exact revenge while battling for control over their own body.
        
    </p>

</body>