    <h2 class="project-section-title">Tools Used</h2>
    <p>
        To bring this project to life, we relied on a wide range of tools. We built the <span class="text-highlight1">gameplay</span> in <span class="text-highlight2">Unity</span>,
        designed 3D assets in 3ds Max,
        and created 2D visuals using Illustrator and Photoshop.
        Sound effects were produced in Adobe Audition, and we used <span class="text-highlight2">InDesign</span> for <span class="text-highlight1">documentation</span>.

    </p>
    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-unity.svg" alt="Unity">
        <img src="/assets/logo/icons/logo-3dsmax.svg" alt="3ds Max">
        <img src="/assets/logo/icons/logo-illustrator.svg" alt="Illustrator">
        <img src="/assets/logo/icons/logo-photoshop.svg" alt="Photoshop">
        <img src="/assets/logo/icons/logo-audition.svg" alt="Audition">
        <img src="/assets/logo/icons/logo-indesign.svg" alt="InDesign">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">
    </div>
