    <h2 class="project-section-title">What I Learned</h2>
    <p>
        Working on Proteo taught me a lot about designing <span class="text-highlight1">versatile gameplay systems</span>.
        Creating multiple forms with <span class="text-highlight2">unique interactions</span> required close attention to <span class="text-highlight1">level design</span>, player flow, and environmental logic.
        It was a valuable exercise in balancing creativity with clarity to keep the <span class="text-highlight2">player experience</span> intuitive.
    </p>
