<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Learned</h6>
    <p>
        Working on <em class="text-highlight1">Proteo</em> taught me a lot about designing <em class="text-highlight1">versatile gameplay systems</em>. 
        Creating multiple forms with <em class="text-highlight2">unique interactions</em> required close attention to <em class="text-highlight2">level design</em>, player flow, and environmental logic. 
        It was a valuable exercise in balancing creativity with clarity to keep the player experience <em class="text-highlight1">intuitive</em>.
    </p>
    

</body>