<h2 class="project-section-title">About the Game</h2>
    <p>
        Proteo is a <span class="text-highlight1">3D platformer</span> focused on <span class="text-highlight2">exploration and transformation</span>.
         Players take control of an avatar able to adopt multiple forms found throughout the environment. Each form comes with <span class="text-highlight1">unique abilities</span> and offers new ways to interact with the world.
        Switching between these forms opens up a wide range of possibilities, encouraging experimentation and <span class="text-highlight2">creative problem-solving</span>.
    </p>
