<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
        The best part of working on <em class="text-highlight1">Proteo</em> was creating a universe that felt like a giant <em class="text-highlight2">interactive playground</em>. 
        The <em class="text-highlight1">bold colors</em> and <em class="text-highlight1">shifting mechanics</em> gave it the vibe of a <em class="text-highlight2">fantasy amusement park</em>,
         and I loved bringing that sense of <em class="text-highlight1">wonder</em> to life.
         It was even more rewarding to build it alongside a <em class="text-highlight2">creative and passionate team</em>.
    </p>

</body>