    <h6>What I Learned</h6>
    <p>
        Working on <em class="text-highlight1">Proteo</em> taught me a lot about designing <em class="text-highlight1">versatile gameplay systems</em>. 
        Creating multiple forms with <em class="text-highlight2">unique interactions</em> required close attention to <em class="text-highlight2">level design</em>, player flow, and environmental logic. 
        It was a valuable exercise in balancing creativity with clarity to keep the player experience <em class="text-highlight1">intuitive</em>.
    </p>
