<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Proteo</em> is a 3D platformer focused on <em class="text-highlight2">exploration</em> and transformation.
         Players take control of an avatar able to adopt multiple forms found throughout the environment. Each form comes with <em class="text-highlight1">unique abilities</em> and offers new ways to interact with the world. 
        Switching between these forms opens up a wide range of possibilities, encouraging <em class="text-highlight2">experimentation</em> and creative problem-solving.
    </p>

</body>