    <h2 class="project-section-title">What I Loved</h2>
    <p>
        The best part of working on Proteo was creating a universe that felt like a giant <span class="text-highlight1">interactive playground</span>.
        The bold colors and <span class="text-highlight2">shifting mechanics</span> gave it the vibe of a fantasy amusement park,
         and I loved bringing that <span class="text-highlight1">sense of wonder</span> to life.
         It was even more rewarding to build it alongside a <span class="text-highlight2">creative and passionate team</span>.
    </p>
