<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Proteo</em> is a 3D platformer focused on <em class="text-highlight2">exploration</em> and transformation.
         Players take control of an avatar able to adopt multiple forms found throughout the environment. Each form comes with <em class="text-highlight1">unique abilities</em> and offers new ways to interact with the world. 
        Switching between these forms opens up a wide range of possibilities, encouraging <em class="text-highlight2">experimentation</em> and creative problem-solving.
    </p>
