<h2>What I Love</h2>
     <p>
        
    </p>

    <div class="logo-tools">
            <img src="/assets/logo/logo-controller.webp">
            <img src="/assets/logo/logo-trophy.webp">
            <img src="/assets/logo/logo-twitch.webp">
            <img src="/assets/logo/logo-key.webp">
            <img src="/assets/logo/logo-pcb.webp">
            <img src="/assets/logo/logo-movies.webp">
            <img src="/assets/logo/logo-tv.webp">
            <img src="/assets/logo/logo-music.webp">
            <img src="/assets/logo/logo-nature.webp">
            <img src="/assets/logo/logo-backpack.webp">
            <img src="/assets/logo/logo-bike.webp">
            <img src="/assets/logo/logo-diy.webp">
    </div>