<h2>About Me</h2>
    <p class="about-me-text"><strong>Hello!</strong> My name is <em class="text-highlight1">Antoine de Seguins</em>, I'm a French <em class="text-highlight2">Game Designer</em> and <em class="text-highlight2">QA Analyst.</em>
        I’m passionate about creating games, engaging experiences and ensuring high-quality gameplay. 
        I enjoy shaping <em class="text-highlight1">gameplay mechanics</em>, testing how they feel, and finding ways to make them better.
        I also develop <em class="text-highlight2">small games and prototypes</em>, bringing my own ideas to life and expanding my <em class="text-highlight1">game development</em> skills.</p>
