<h2>What I Love</h2>
     <p>
        
    </p>

    <div class="logo-tools">
            <img src="/assets/logo/logo-controller.png">
            <img src="/assets/logo/logo-trophy.png">
            <img src="/assets/logo/logo-twitch.png">
            <img src="/assets/logo/logo-key.png">
            <img src="/assets/logo/logo-pcb.png">
            <img src="/assets/logo/logo-movies.png">
            <img src="/assets/logo/logo-tv.png">
            <img src="/assets/logo/logo-music.png">
            <img src="/assets/logo/logo-nature.png">
            <img src="/assets/logo/logo-backpack.png">
            <img src="/assets/logo/logo-bike.png">
            <img src="/assets/logo/logo-diy.png">
    </div>