<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h2>About me</h2>
<p>
    <p><strong>Hello!</strong> I'm <em class="text-highlight1">Antoine de Seguins</em>, a French <em class="text-highlight2">Game Designer</em> and <em class="text-highlight2">QA Analyst.</em> 
        I’m passionate about creating engaging experiences and ensuring high-quality gameplay. 
        With a background in <em class="text-highlight1">game design</em>, I work to identify and solve issues that improve the player experience. 
        Recently I started learning more <em class="text-highlight2">development</em> skills to explore new challenges and <em class="text-highlight1">possibilities</em>.</p>
</p>

</body>