<h2>My Skills</h2>
<p><em class="text-highlight2">Game Dev</em> : <em class="text-skills">Game design, Level design, Prototyping, Custom Controllers</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-unity.png">
    <img src="/assets/logo/logo-unreal.png">
    <img src="/assets/logo/logo-3dsmax.png">
    <img src="/assets/logo/logo-arduino.png">

</div>
<p> <em class="text-highlight2">Quality Assurance</em> : <em class="text-skills">Bug Tracking, Functionality, Regression, Compliance</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-bug.png">
    <img src="/assets/logo/logo-jira.png">
    <img src="/assets/logo/logo-steam.png">
    <img src="/assets/logo/logo-ps.png">
    <img src="/assets/logo/logo-xbox.png">

</div>
<p><em class="text-highlight2">Others</em> : <em class="text-skills">Production, Documentation, Visual Support, DIY</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-github.png">
    <img src="/assets/logo/logo-microsoftsuite.png">
    <img src="/assets/logo/logo-excel.png">
    <img src="/assets/logo/logo-illustrator.png">
    <img src="/assets/logo/logo-indesign.png">
    <img src="/assets/logo/logo-saw.png">
    <img src="/assets/logo/logo-diy.png">

</div>
