<h2>What I Love</h2>
     <p>

    </p>

            <div class="logo-tools">
            <img src="/assets/logo/icons/logo-trophy.svg" alt="Competition">
            <img src="/assets/logo/icons/logo-twitch.svg" alt="Twitch">
            <img src="/assets/logo/icons/logo-key.svg" alt="Keyboards">
            <img src="/assets/logo/icons/logo-pcb.svg" alt="Electronics">
            <img src="/assets/logo/icons/logo-movies.svg" alt="Movies">
            <img src="/assets/logo/icons/logo-tv.svg" alt="TV series">
            <img src="/assets/logo/icons/logo-music.svg" alt="Music">
            <img src="/assets/logo/icons/logo-nature.svg" alt="Nature">
            <img src="/assets/logo/icons/logo-bike.svg" alt="Cycling">
            <img src="/assets/logo/icons/logo-diy.svg" alt="DIY">
    </div>
