<h2>My Skills</h2>
<p><em class="text-highlight2">Game Dev</em> : <em class="text-skills">Game design, Level design, Prototyping, Custom Controllers</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-unity.webp">
    <img src="/assets/logo/logo-unreal.webp">
    <img src="/assets/logo/logo-3dsmax.webp">
    <img src="/assets/logo/logo-arduino.webp">

</div>
<p> <em class="text-highlight2">Quality Assurance</em> : <em class="text-skills">Bug Tracking, Functionality, Regression, Compliance</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-bug.webp">
    <img src="/assets/logo/logo-jira.webp">
    <img src="/assets/logo/logo-steam.webp">
    <img src="/assets/logo/logo-ps.webp">
    <img src="/assets/logo/logo-xbox.webp">

</div>
<p><em class="text-highlight2">Others</em> : <em class="text-skills">Production, Documentation, Visual Support, DIY</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-github.webp">
    <img src="/assets/logo/logo-microsoftsuite.webp">
    <img src="/assets/logo/logo-excel.webp">
    <img src="/assets/logo/logo-illustrator.webp">
    <img src="/assets/logo/logo-indesign.webp">
    <img src="/assets/logo/logo-saw.webp">
    <img src="/assets/logo/logo-diy.webp">

</div>
