<h2>About Me</h2>
    <p class="about-me-text"><strong>Hello!</strong> I'm <strong><em class="text-highlight1">Antoine de Seguins</em></strong>, a French <strong><em class="text-highlight2">Game Designer</em></strong> and <strong><em class="text-highlight2">QA Analyst</em></strong> passionate about <strong><em class="text-highlight1">video games</em></strong>. I love coming up with new ideas, designing fun experiences, and bringing my own creations to life. Outside of game development, I enjoy <strong><em class="text-highlight1">playing games</em></strong>, <strong><em class="text-highlight2">building things</em></strong>, and exploring all kinds of <strong><em class="text-highlight1">creative projects</em></strong>.</p>

    <div class="about-me-links">
        <a href="https://x.com/Adeseguins" target="_blank" rel="noopener noreferrer"
            onfocus="this.querySelector('img').src='/assets/logo/Menu/logo-x-active.svg'"
            onblur="this.querySelector('img').src='/assets/logo/Menu/logo-x.svg'">
            <img src="/assets/logo/Menu/logo-x.svg" alt="X"
                onmouseover="this.src='/assets/logo/Menu/logo-x-active.svg'"
                onmouseout="this.src=this.parentElement.matches(':focus') ? '/assets/logo/Menu/logo-x-active.svg' : '/assets/logo/Menu/logo-x.svg'">
        </a>
        <a href="mailto:antoinedeseguins@gmail.com" target="_blank" rel="noopener noreferrer"
            onfocus="this.querySelector('img').src='/assets/logo/Menu/logo-mail-active.svg'"
            onblur="this.querySelector('img').src='/assets/logo/Menu/logo-mail.svg'">
            <img src="/assets/logo/Menu/logo-mail.svg" alt="Email"
                onmouseover="this.src='/assets/logo/Menu/logo-mail-active.svg'"
                onmouseout="this.src=this.parentElement.matches(':focus') ? '/assets/logo/Menu/logo-mail-active.svg' : '/assets/logo/Menu/logo-mail.svg'">
        </a>
        <a href="https://www.linkedin.com/in/antoine-de-seguins/" target="_blank" rel="noopener noreferrer"
            onfocus="this.querySelector('img').src='/assets/logo/Menu/logo-linkedin-active.svg'"
            onblur="this.querySelector('img').src='/assets/logo/Menu/logo-linkedin.svg'">
            <img src="/assets/logo/Menu/logo-linkedin.svg" alt="LinkedIn"
                onmouseover="this.src='/assets/logo/Menu/logo-linkedin-active.svg'"
                onmouseout="this.src=this.parentElement.matches(':focus') ? '/assets/logo/Menu/logo-linkedin-active.svg' : '/assets/logo/Menu/logo-linkedin.svg'">
        </a>
    </div>
