<h2>My Skills</h2>
<p><em class="text-highlight2">Game Dev</em> : <em class="text-skills">Game design, Level design, Prototyping, Custom Controllers</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-controller.svg">
    <img src="/assets/logo/logo-unity.svg">
    <img src="/assets/logo/logo-unreal.svg">
    <img src="/assets/logo/logo-3dsmax.svg">
    <img src="/assets/logo/logo-arduino.svg">

</div>
<p> <em class="text-highlight2">Quality Assurance</em> : <em class="text-skills">Bug Tracking, Functionality, Regression, Compliance</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-bug.svg">
    <img src="/assets/logo/logo-jira.svg">
    <img src="/assets/logo/logo-steam.svg">
    <img src="/assets/logo/logo-ps.svg">
    <img src="/assets/logo/logo-xbox.svg">

</div>
<p><em class="text-highlight2">Others</em> : <em class="text-skills">Production, Documentation, Visual Support, DIY</em></p>
<div class="logo-skills">
    <img src="/assets/logo/logo-github.svg">
    <img src="/assets/logo/logo-microsoftsuite.svg">
    <img src="/assets/logo/logo-excel.svg">
    <img src="/assets/logo/logo-illustrator.svg">
    <img src="/assets/logo/logo-indesign.svg">
    <img src="/assets/logo/logo-saw.svg">
    <img src="/assets/logo/logo-diy.svg">

</div>
