<h2>What I Love</h2>

<div class="division-tableau-love">
    <div class="colone-tableau-love">
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-controller.svg">
            <p>Video Games</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-trophy.svg">
            <p>Esports</p> 
         </div>
         <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-twitch.svg">
            <p>Live streams</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-key.svg">
            <p>Escape Games</p> 
        </div>
    </div>
    <div class="colone-tableau-love">
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-pcb.svg">
            <p>Tech</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-movies.svg">
            <p>Movies</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-tv.svg">
            <p>Series</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-music.svg">
            <p>Music</p> 
        </div>

    </div>
    <div class="colone-tableau-love">
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-nature.svg">
            <p>Nature</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-backpack.svg">
            <p>Travel</p> 
         </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-bike.svg">
            <p>Biking</p> 
        </div>
        <div class="ligne-tableau-love"> 
            <img src="/assets/logo/logo-diy.svg">
            <p>DIY</p> 
        </div>

    </div>
</div>
