<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h2>My Experience</h2>
<table class="timeline">
    <tr>
      <td class="date">2024–2025 :</td>
      <td><strong>OpenClassrooms</strong>, Online School - <em class="text-highlight2"> Developpement</em></td>
    </tr>
    <tr>
        <td class="date">2023–2024 :</td>
        <td><strong>TBD</strong>, TBD - <em class="text-highlight2"> TBD</em></td>
      </tr>
    <tr>
      <td class="date">2020–2022 :</td>
      <td><strong>Focus Entertainment</strong>, Game publisher – <em class="text-highlight2"> QA Analyst</em></td>
    </tr>
    <tr>
      <td class="date">2018–2019 :</td>
      <td><strong>Leavin Room</strong>, Escape Game – <em class="text-highlight2"> Game Master</em></td>
    </tr>
    <tr>
      <td class="date">2013–2017 :</td>
      <td><strong>ICAN</strong>, School – <em class="text-highlight2"> Bachelor Game Design</em></td>
    </tr>
    <tr>
      <td class="date">2009–2012 :</td>
      <td><strong>Paul Langevin</strong>, School – <em class="text-highlight2"> High School Diploma</em></td>
    </tr>
  </table>
    
</body>