<h2>My Experience</h2>
<table class="timeline">
    <tr>
      <td>2024–2025</td>
      <td class="tableau-xp"><strong>OpenClassrooms</strong>, Online School - <em class="text-highlight2"> Development</em></td>
    </tr>
    <tr>
      <td>2023–2025</td>
      <td class="tableau-xp"><strong>Small independent projects</strong> - <em class="text-highlight2"> Game Designer</em></td>
    </tr>
    <tr>
      <td>2020–2022</td>
      <td class="tableau-xp"><strong>Focus Entertainment</strong>, Game publisher – <em class="text-highlight2"> QA Analyst</em></td>
    </tr>
    <tr>
      <td>2018–2020</td>
      <td class="tableau-xp"><strong>Leavin Room</strong>, Escape Game – <em class="text-highlight2"> Game Master</em></td>
    </tr>
    <tr>
      <td>2013–2017</td>
      <td class="tableau-xp"><strong>ICAN</strong>, School – <em class="text-highlight2"> Bachelor's degree in Game Design</em></td>
    </tr>
  </table>
