    <h6>Tools Used</h6>
    <p>
        We used a familiar set of tools for <em class="text-highlight1">Dough</em>. Development was done in <em class="text-highlight2">Unity</em>,
         with 3D modeling handled in <em class="text-highlight1">3ds Max</em>. 
         Visuals were created using <em class="text-highlight2">Illustrator</em> and <em class="text-highlight1">Photoshop</em>, sound design in <em class="text-highlight2">Audition</em>, 
        and documentation managed with <em class="text-highlight1">InDesign</em> and <em class="text-highlight2">Microsoft Office</em>.
    </p>
    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-unity.svg">
        <img src="/assets/logo/icons/logo-3dsmax.svg">
        <img src="/assets/logo/icons/logo-illustrator.svg">
        <img src="/assets/logo/icons/logo-photoshop.svg">
        <img src="/assets/logo/icons/logo-audition.svg">
        <img src="/assets/logo/icons/logo-indesign.svg">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg">
    </div>
