<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
    I really enjoyed the indirect interaction in <em class="text-highlight1">Dough</em>.
    Altering the world’s <em class="text-highlight2">terrain</em> to guide the character created a unique relationship between player and environment.
    It was a fun way to experiment with <em class="text-highlight2">non-traditional controls</em> and emergent behavior.
    </p>

</body>