<h2 class="project-section-title">About the Game</h2>
    <p>
        Dough is a creative <span class="text-highlight1">exploration game</span> where players <span class="text-highlight2">reshape</span> a planet's topography by adding or removing matter.
        Instead of controlling the character directly, players guide Dough by <span class="text-highlight1">modifying the terrain</span>.
        The world itself becomes a tool for <span class="text-highlight2">discovery</span>: shaping the landscape reveals paths,
        secrets, and sometimes, unexpected surprises.

    </p>
