<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Necromunda: Underhive Wars</em> is a tactical turn-based strategy title developed by Rogue Factor and published by Focus Entertainment.
        Set in the gritty world of <em class="text-highlight1">Warhammer 40,000</em>, players control <em class="text-highlight2">gangs</em> battling for dominance.
        The experience offers a wide range of <em class="text-highlight1">strategic combat</em> options, with each gang featuring its own unique abilities.
        Players can dive into both <em class="text-highlight2">single-player</em> and <em class="text-highlight2">multiplayer</em> modes.
        
    </p>
