    <h6>What I Loved</h6>
    <p>
        What I loved about this project was the <em class="text-highlight1">close collaboration</em> with the team. 
        The challenges were tough, but the ability to <em class="text-highlight2">quickly adapt</em> and <em class="text-highlight2">address issues</em> kept things exciting. 
        I learned a lot throughout the process, both technically and in terms of teamwork. 
        Working alongside the studio gave me a deeper understanding of the <em class="text-highlight1">game development process</em>.
    </p>
