<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Necromunda: Underhive Wars</em> is a tactical turn-based strategy title developed by Rogue Factor and published by Focus Entertainment.
        Set in the gritty world of <em class="text-highlight1">Warhammer 40,000</em>, players control <em class="text-highlight2">gangs</em> battling for dominance.
        The experience offers a wide range of <em class="text-highlight1">strategic combat</em> options, with each gang featuring its own unique abilities.
        Players can dive into both <em class="text-highlight2">single-player</em> and <em class="text-highlight2">multiplayer</em> modes.
        
    </p>

</body>