    <h2 class="project-section-title">What I Learned</h2>
    <p>
        This was my <span class="text-highlight1">first professional project</span>, and it was a huge learning experience. I worked with PlayStation SDK,
        Xbox XDK, Steam, and became familiar with <span class="text-highlight2">platform guidelines</span> like
        TRC and XR. I also gained hands-on experience in <span class="text-highlight1">community management</span>
        and <span class="text-highlight2">player support</span>, resolving issues and handling feedback during the launch.
    </p>
