    <h2 class="project-section-title">Tools Used</h2>
    <p>
        We used an internal <span class="text-highlight1">bug tracking system</span> and the
        Office Suite for <span class="text-highlight2">documentation</span> and collaboration.
         I worked with <span class="text-highlight1">game design documentation</span>, focusing on spells and abilities.
         I also gained experience with PlayStation SDK,
        Xbox XDK, and <span class="text-highlight2">Steamworks</span> to optimize the game across platforms.    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">
        <img src="/assets/logo/icons/logo-excel.svg" alt="Excel">
        <img src="/assets/logo/icons/logo-steam.svg" alt="Steam">
        <img src="/assets/logo/icons/logo-ps.svg" alt="PlayStation">
        <img src="/assets/logo/icons/logo-xbox.svg" alt="Xbox">
    </div>
