<h2 class="project-section-title">About the Game</h2>
    <p>
        Necromunda: Underhive Wars is a tactical <span class="text-highlight1">turn-based strategy</span> title developed by Rogue Factor and published by Focus Entertainment.
        Set in the gritty world of <span class="text-highlight2">Warhammer 40,000</span>, players control gangs battling for dominance.
        The experience offers a wide range of <span class="text-highlight1">strategic combat</span> options, with each gang featuring its own unique abilities.
        Players can dive into both single-player and <span class="text-highlight2">multiplayer modes</span>.

    </p>
