<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Learned</h6>
    <p>
        This was my first professional project, and it was a huge learning experience. I worked with <em class="text-highlight1">Playstation SDK</em>,
        <em class="text-highlight1">Xbox XDK</em>, <em class="text-highlight2">Steam</em>, and became familiar with platform guidelines like 
        <em class="text-highlight2">TRC</em> and <em class="text-highlight2">XR</em>. I also gained hands-on experience in <em class="text-highlight1">community management</em> 
        and <em class="text-highlight2">player support</em>, resolving issues and handling feedback during the launch.
    </p>
</body>