    <h2 class="project-section-title">What I Loved</h2>
    <p>
        What I loved about this project was the <span class="text-highlight1">close collaboration</span> with the team.
        The challenges were tough, but the ability to <span class="text-highlight2">quickly adapt</span> and address issues kept things exciting.
        I learned a lot throughout the process, both technically and in terms of <span class="text-highlight1">teamwork</span>.
        Working alongside the studio gave me a deeper understanding of the <span class="text-highlight2">game development process</span>.
    </p>
