<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Age of Sigmar: Storm Ground</em> is a turn-based strategy title developed by Gasket Games and published by Focus Entertainment. Set in the <em class="text-highlight2">Warhammer: Age of Sigmar universe</em>, it lets players command factions like the Stormcast Eternals, Nighthaunt, and Maggotkin in <em class="text-highlight1">tactical battles</em>.
        It features fast-paced combat, customizable units, and roguelike mechanics across both single-player and online multiplayer modes.
    </p>
