<h2 class="project-section-title">About the Game</h2>
    <p>
        Age of Sigmar: Storm Ground is a <span class="text-highlight1">turn-based strategy</span> title developed by Gasket Games and published by Focus Entertainment. Set in the Warhammer: Age of Sigmar universe, it lets players command factions like the Stormcast Eternals, Nighthaunt, and Maggotkin in <span class="text-highlight2">tactical battles</span>.
        It features fast-paced combat, <span class="text-highlight1">customizable units</span>, and <span class="text-highlight2">roguelike mechanics</span> across both single-player and online multiplayer modes.
    </p>
