    <h2 class="project-section-title">What I Learned</h2>
    <p>
        This project helped me strengthen my <span class="text-highlight1">communication</span> and <span class="text-highlight2">bug tracking</span> skills. I used Jira
        daily, focusing primarily on console platforms.
         I also worked on <span class="text-highlight1">multiplayer features</span>, which gave me valuable insights into <span class="text-highlight2">cross-platform support</span>.
        Being on the publisher side helped me understand how to support a team while staying aligned with deadlines.
    </p>
