    <h2 class="project-section-title">Tools Used</h2>
    <p>
        I used <span class="text-highlight1">Jira</span> for progress tracking and bug management,
        while the Office Suite helped with <span class="text-highlight2">documentation</span> and team collaboration.
        I gained experience with tools like PlayStation SDK, Xbox XDK,
        and <span class="text-highlight1">Steamworks</span>, and became familiar with <span class="text-highlight2">platform guidelines</span> such as TRC
         and XR for a smooth launch.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/icons/logo-jira.svg" alt="Jira">
        <img src="/assets/logo/icons/logo-microsoftsuite.svg" alt="Office">
        <img src="/assets/logo/icons/logo-excel.svg" alt="Excel">
        <img src="/assets/logo/icons/logo-steam.svg" alt="Steam">
        <img src="/assets/logo/icons/logo-ps.svg" alt="PlayStation">
        <img src="/assets/logo/icons/logo-xbox.svg" alt="Xbox">
    </div>
