<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Age of Sigmar: Storm Ground</em> is a turn-based strategy title developed by Gasket Games and published by Focus Entertainment. Set in the <em class="text-highlight2">Warhammer: Age of Sigmar universe</em>, it lets players command factions like the Stormcast Eternals, Nighthaunt, and Maggotkin in <em class="text-highlight1">tactical battles</em>.
        It features fast-paced combat, customizable units, and roguelike mechanics across both single-player and online multiplayer modes.
    </p>

</body>