    <h6>What I Learned</h6>
    <p>
        This project helped me strengthen my <em class="text-highlight1">communication</em> and <em class="text-highlight2">bug tracking</em> skills. I used <em class="text-highlight1">Jira</em>
        daily, focusing primarily on <em class="text-highlight2">console platforms</em>.
         I also worked on <em class="text-highlight1">multiplayer features</em>, which gave me valuable insights into <em class="text-highlight2">cross-platform support</em>. 
        Being on the <em class="text-highlight1">publisher side</em> helped me understand how to support a team while staying aligned with <em class="text-highlight2">deadlines</em>.
    </p>
