    <h6>What I Loved</h6>
    <p>
        I truly enjoyed the <em class="text-highlight1">responsiveness</em> of the <em class="text-highlight2">studio</em>,
         which allowed for quick adjustments and kept the project moving at a steady pace. 
         From the <em class="text-highlight1">publisher side</em>, I saw how critical this was to maintaining <em class="text-highlight2">momentum</em>. 
         The <em class="text-highlight1">collaborative atmosphere</em> and the constant flow of <em class="text-highlight2">feedback</em> made tackling challenges both fun and efficient.
    </p>
