    <h2 class="project-section-title">What I Loved</h2>
    <p>
        I truly enjoyed the <span class="text-highlight1">responsiveness</span> of the studio,
         which allowed for <span class="text-highlight2">quick adjustments</span> and kept the project moving at a steady pace.
         From the publisher side, I saw how critical this was to maintaining momentum.
         The <span class="text-highlight1">collaborative atmosphere</span> and the <span class="text-highlight2">constant flow of feedback</span> made tackling challenges both fun and efficient.
    </p>
