<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>Tools used</h6>
    <p>
        I used <em class="text-highlight1">Jira</em> for progress tracking and bug management, 
        while the <em class="text-highlight2">Office Suite</em> helped with documentation and team collaboration.
        I gained experience with tools like <em class="text-highlight1">PlayStation SDK</em>, <em class="text-highlight1">Xbox XDK</em>, 
        and <em class="text-highlight2">Steamworks</em>, and became familiar with platform guidelines such as <em class="text-highlight2">TRC</em>
         and <em class="text-highlight2">XR</em> for a smooth launch.
    </p>

    <div class="logo-tools">
        <img src="/assets/logo/logo-jira.png">
        <img src="/assets/logo/logo-microsoftsuite.png">
        <img src="/assets/logo/logo-excel.png">
        <img src="/assets/logo/logo-steam.png">
        <img src="/assets/logo/logo-ps.png">
        <img src="/assets/logo/logo-xbox.png">
    </div>

</body>