    <h2 class="project-section-title">What I Learned</h2>
    <p>
        As a team, we built this student project from scratch, starting with the creation of the <span class="text-highlight1">main mechanic</span>.
        This introduced a number of technical difficulties, particularly regarding performance with <span class="text-highlight2">thousands of cubes</span>.
         The experience was a great opportunity for us to refine our skills in troubleshooting,
        <span class="text-highlight1">system optimization</span>, and balancing <span class="text-highlight2">technical constraints</span> with creative gameplay.
    </p>
