    <h6>What I Loved</h6>
    <p>
        The best part of this project was the chance to design something truly original.
         The process of developing the <em class="text-highlight1">force impact mechanic</em> and watching it work in the game was thrilling. 
         I also really enjoyed how the team came together to tackle each challenge, from <em class="text-highlight2">technical issues</em> to <em class="text-highlight1">game design decisions</em>. 
        It was a great <em class="text-highlight2">learning experience</em>, and the final result was incredibly satisfying.
    </p>
