<h6>About the Game</h6>
    <p>
        <em class="text-highlight1">Impact</em> is an intense first-person shooter where players face off against ever-changing <em class="text-highlight2">cube-based structures</em>.
        The core mechanic allows players to shape and manipulate their <em class="text-highlight2">environment</em> and enemies.
        As they progress, players will uncover <em class="text-highlight1">mysterious secrets</em> that hint at the true purpose behind their journey.
    </p>
