    <h2 class="project-section-title">What I Loved</h2>
    <p>
        The best part of this project was the chance to design something <span class="text-highlight1">truly original</span>.
         The process of developing the <span class="text-highlight2">force impact mechanic</span> and watching it work in the game was thrilling.
         I also really enjoyed how the <span class="text-highlight1">team came together</span> to tackle each challenge, from technical issues to <span class="text-highlight2">game design decisions</span>.
        It was a great learning experience, and the final result was incredibly satisfying.
    </p>
