<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<h6>About the Game</h6>
    <p>
        In <em class="text-highlight1">Impact</em>, players engage in intense first-person combat against ever-evolving <em class="text-highlight2">cube-based structures</em>. 
        The main mechanic, <em class="text-highlight1">force impact</em>, gives players the ability to reshape and sculpt both the <em class="text-highlight2">environment</em> and the structures, avoiding their defense mechanisms.
         Throughout their journey, players will unravel <em class="text-highlight1">enigmatic secrets</em> that hint at a deeper purpose behind the conflict.
    </p>

</body>