<head>
    <!--meta-->
    <meta charset="utf-8">

    <!--CSS Link-->
    <link href="style.css" rel="stylesheet">

    <!--Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <h6>What I Loved</h6>
    <p>
        The best part of this project was the chance to design something truly original.
         The process of developing the <em class="text-highlight1">force impact mechanic</em> and watching it work in the game was thrilling. 
         I also really enjoyed how the team came together to tackle each challenge, from <em class="text-highlight2">technical issues</em> to <em class="text-highlight1">game design decisions</em>. 
        It was a great <em class="text-highlight2">learning experience</em>, and the final result was incredibly satisfying.
    </p>

</body>