<h2 class="project-section-title">About the Game</h2>
    <p>
        Impact is an intense <span class="text-highlight1">first-person shooter</span> where players face off against ever-changing <span class="text-highlight2">cube-based structures</span>.
        The core mechanic allows players to <span class="text-highlight1">shape and manipulate</span> their environment and enemies.
        As they progress, players will uncover <span class="text-highlight2">mysterious secrets</span> that hint at the true purpose behind their journey.
    </p>
