    <h6>Tools Used</h6>
    <p>
        For this project, we used a variety of tools to bring the game to life. We developed the gameplay in <em class="text-highlight1">Unity</em>, 
        creating 3D models and assets in <em class="text-highlight2">3ds Max</em>. 
        For 2D artwork, we utilized <em class="text-highlight1">Illustrator</em> and <em class="text-highlight2">Photoshop</em>. 
        Sound design was done using <em class="text-highlight1">Adobe Audition</em>, while <em class="text-highlight2">InDesign</em> was used for documentation purposes. 
    </p>
    <div class="logo-tools">
        <img src="/assets/logo/logo-unity.webp">
        <img src="/assets/logo/logo-3dsmax.webp">
        <img src="/assets/logo/logo-illustrator.webp">
        <img src="/assets/logo/logo-photoshop.webp">
        <img src="/assets/logo/logo-audition.webp">
        <img src="/assets/logo/logo-indesign.webp">
        <img src="/assets/logo/logo-microsoftsuite.webp">
    </div>
